<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppIntegracaoCECTiny.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="tinywsdlBinding" maxReceivedMessageSize="314572800">
          <security mode="Transport" />
        </binding>
        <binding name="tinywsdlBinding1" maxReceivedMessageSize="314572800" />
        <binding name="PedidoCompraFornecedoresSoap" maxReceivedMessageSize="314572800" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.tiny.com.br:443/api2.php" binding="basicHttpBinding"
        bindingConfiguration="tinywsdlBinding" contract="TinyService.tinywsdlPortType"
        name="tinywsdlPort" />
      <endpoint address="http://fornecedores.ws.cec.com.br/PedidoCompraFornecedores.asmx"
        binding="basicHttpBinding" bindingConfiguration="PedidoCompraFornecedoresSoap"
        contract="CeCService.PedidoCompraFornecedoresSoap" name="PedidoCompraFornecedoresSoap" />
    </client>
  </system.serviceModel>
  <userSettings>
    <AppIntegracaoCECTiny.Properties.Settings>
      <setting name="SenhaCec" serializeAs="String">
  <value>bxc@1958</value>
      </setting>
      <setting name="UsuarioCec" serializeAs="String">
      <value>9878</value>
      </setting>
      <setting name="TokenTinyService" serializeAs="String">
     <value>dac40dfd0b1ac51e0ba731515e33bf937c5c6c16</value>
      </setting>
    </AppIntegracaoCECTiny.Properties.Settings>
  </userSettings>
</configuration>
